<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="moony">
<!-- note: units are meters, kilograms, and radians -->

<!-- THIS PLUGIN NEEDS TO BE FIRST -->
<gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/moony</robotNamespace>
    </plugin>
</gazebo>

<!-- CONSTANTS -->
<xacro:property name="base_mass" value="4.11" />
<xacro:property name="base_height" value=".03" />

<!-- IMPORTS -->
<xacro:include filename="$(find moony_gazebo)/gazebo/sensors.xacro" />
<xacro:include filename="$(find moony_gazebo)/gazebo/wheels.xacro" />
<xacro:include filename="$(find moony_gazebo)/gazebo/skid_drive.xacro" />

<!-- LINKS -->
    <link name="base_footprint" /> <!-- dummy prevents laser from publishing -->

    <joint name="base_joint" type="fixed">
     <origin xyz="0 0 0.01" rpy="0 0 0" />
     <parent link="base_footprint"/>
     <child link="base_link"/>
   </joint>
        
    <link name="base_link">
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="${base_mass}" />
            <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.62" iyz="0" izz="0.52"/>
             <!-- values taken from solidworks  -->
        </inertial>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/> <!-- center of the wheel -->
            <geometry>
                <box size="1 .38 ${base_height}"/> -->
            </geometry>
        </collision>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <!-- <box size="1 .38 .03"/> -->
                <mesh filename="package://moony_description/models/meshes/frame.dae"/>
            </geometry>
        </visual>
    </link>

   <xacro:individual_wheel num="1" x="1.0" y="1.0" r="-1.0"/>
   <xacro:individual_wheel num="2" x="-1.0" y="1.0" r="-1.0"/>
   <xacro:individual_wheel num="3" x="1.0" y="-1.0" r="1.0"/>
   <xacro:individual_wheel num="4" x="-1.0" y="-1.0" r="1.0"/>

     <!-- Lidar Link -->
  <link name="lidar_link">
    <collision>
      <origin xyz="0 0 ${.05/2}" rpy="0 0 0"/>
      <geometry>
        <!-- <box size="0.1 0.05 0.005"/> -->
        <cylinder radius="${0.025}" length=".05"/>
        <!-- ${0.05+.005} -->
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://moony_description/models/meshes/lidar.dae"/>
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value=".077"/>
      <inertia
        ixx=".00007" ixy="0.0" ixz="0.0"
        iyy=".00003" iyz="0.0"
        izz=".00008"/>
    </inertial>
  </link>

    <joint name="lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_link"/>
        <origin xyz=".47 0 ${-0.015 - 0.005/2 -0.001}" rpy="${radians(180)} 0 0"/> <!-- joint location - this may be the plane of the laser-->
    </joint>

<!-- IMU sensor -->
 <link name="imu_link">
    <collision>
      <origin xyz="0 0 ${.05/2}" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.005"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.005"/>
      </geometry>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value=".03"/> <!-- made up -->
      <inertia
        ixx=".00002" ixy="0.0" ixz="0.0"
        iyy=".00002" iyz="0.0"
        izz=".00002"/> <!-- made up -->
    </inertial>
  </link>

    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0 0.17 ${+0.015 + 0.005/2 +0.001}" rpy="0 0 0"/> <!-- joint location -->
    </joint>

</robot>