<launch>
  <arg name="scan_topic"  default="moony/laser/scan" />
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <rosparam file="$(find moony_mapping)/params/gmapping_params.yaml" command="load" />
    <remap from="scan" to="$(arg scan_topic)"/> 
  </node>
  </launch>