<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="moony">

<xacro:property name="z" value="${0.2985}" /> 

 <link name="controls_box">
    <collision>
      <origin xyz="0 0 ${.05/2}" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.38 ${z}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.38 ${z}"/>
      </geometry>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value=".05"/> <!-- made up -->
      <inertia
        ixx=".00002" ixy="0.0" ixz="0.0"
        iyy=".00002" iyz="0.0"
        izz=".00002"/> <!-- made up -->
    </inertial>
  </link>

    <joint name="controls_joint" type="fixed">
        <parent link="base_link"/>
        <child link="controls_box"/>
        <origin xyz="0.47 0 ${z/2 + 0.025}" rpy="0 0 0"/> <!-- joint location -->
    </joint>

</robot>