<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="moony">

<xacro:property name="z" value="${0.0938}" /> 
<xacro:property name="y" value="${0.0485}" /> 
<xacro:property name="x" value="${0.015}" /> 

 <link name="beacon_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${x} ${y} ${z}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${x} ${y} ${z}"/>
      </geometry>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value=".05"/> <!-- made up -->
      <inertia
        ixx=".00002" ixy="0.0" ixz="0.0"
        iyy=".00002" iyz="0.0"
        izz=".00002"/> <!-- made up -->
    </inertial>
  </link>

    <joint name="beacon_joint" type="fixed">
        <parent link="base_link"/>
        <child link="beacon_link"/>
        <origin xyz="${-0.49} ${0.165} ${z/2 +0.0125}" rpy="0 0 3.141592653589793"/> <!-- joint location -->
    </joint>

</robot>