<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="moony">

 <link name="imu_link">
    <collision>
      <origin xyz="0 0 ${.05/2}" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.05 0.005"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.05 0.005"/>
      </geometry>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value=".03"/> <!-- made up -->
      <inertia
        ixx=".00002" ixy="0.0" ixz="0.0"
        iyy=".00002" iyz="0.0"
        izz=".00002"/> <!-- made up -->
    </inertial>
  </link>

    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0.47 0.15 -${+0.015 + 0.005/2}" rpy="0 3.141592653589793 1.5707963267948966"/> <!-- joint location -->
    </joint>
    <!-- rpy="0 3.141592653589793 1.5707963267948966" upside down, y direction in forward orientation, z down-->

</robot>