<launch>
    <!-- launch competition world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find moony_gazebo)/worlds/moony.world"/>
        <!-- more default parameters can be changed here -->
    </include>
    
    <!-- launch robot -->
    <include file="$(find moony_gazebo)/launch/moony.launch" />
</launch>