<?xml version="1.0"?>
<launch>
  <!-- <arg name="odom_frame" default="skid_drive" /> base_footprint -> this is the child frame of odometry/filtered_map -->
  <arg name="odom_topic" default="odometry/filtered_map" />
  <arg name="scan_topic" default="moony/laser/scan" />
  <arg name="map_file" default="$(find moony_2dnav_simulation)/maps/firstMap.yaml"/>
  <!-- <arg name="map_file" default="$(find moony_2dnav_simulation)/maps/gas_station.yaml"/> -->

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <node pkg="amcl" type="amcl" name="amcl">
    <rosparam file="$(find moony_navigation_gazebo)/params/amcl_params.yaml" command="load" />
    <!-- <param name="odom_frame_id" value="$(arg odom_frame)"/> -->
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="scan" to="$(arg scan_topic)"/>
    
  </node>

</launch>