<launch>

    <!--- Start AMCL Localization -->
    <include file="$(find moony_navigation_gazebo)/launch/amcl.launch" />
    
    <!-- Start Move Base -->
  <include file="$(find moony_navigation_gazebo)/launch/move_base.launch" >
     <arg name="no_static_map" default="false"/>
     <arg name="cmd_topic" default="moony/cmd_vel" />
     <arg name="global_frame" default="skid_drive"/>
  </include>

</launch> 