<launch> 

    <!-- Run the EKF Localization nodes -->

    <!-- odom -> base_footprint -->
    <!-- this is currently taken care of in the gazebo plugin skid_drive -->

    <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_odom">
        <rosparam command="load" file="$(find moony_odometry)/params/ekf_localization_with_amcl.yaml"/>
        <rosparam command="load" file="$(find moony_odometry)/params/ekf_odom.yaml"/>
        <remap from="odometry/filtered" to="odometry/filtered_imu" />
    </node> -->

    <arg name="sensors" default="ekf_map.yaml" />
    <!-- map -> odom -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_map">
        <rosparam command="load" file="$(find moony_odometry)/params/ekf_localization_with_amcl.yaml"/>
        <rosparam command="load" file="$(find moony_odometry)/params/$(arg sensors)"/>
        <remap from="odometry/filtered" to="odometry/filtered_map"/>
    </node>


        <!-- <node pkg="moony_odometry" type="moony_odometry_node" name="odometry_publisher"  output="screen">
    </node> -->
</launch>