<launch>
  <!-- <arg name="scan_topic"  value="moony/laser/scan" /> -->

  <include file="$(find moony_odometry)/launch/moony_localization.launch">
    <arg name="sensors" value="ekf_real_robot.yaml" />
  </include>


  <!-- <include file="$(find moony_mapping)/launch/gmapping.launch.xml" >
      <arg name="scan_topic"  value="$(arg scan_topic)" />
      <arg name="base_frame"  value="base_footprint"/>
      <arg name="odom_frame"  value="base_footprint" />
  </include> -->

  <!-- TODO: add beacon -->
</launch>
