<launch>

  <node pkg="moony_odometry" name="left_beacon_data_transfer" type="beacons.py" output="screen"> 
  </node>

  <!-- <node pkg="moony_odometry" name="right_beacon_data_transfer" type="beacons_back_right.py" output="screen"> 
  </node> -->

  <node pkg="moony_odometry" name="imu_data_transfer" type="imu_remove_noise.py" output="screen"> 
  </node>

  <include file="$(find moony_odometry)/launch/moony_localization.launch">
    <arg name="sensors" value="ekf_real_robot.yaml" />
  </include>


  <!-- <include file="$(find moony_mapping)/launch/gmapping.launch.xml" >
      <arg name="scan_topic"  value="$(arg scan_topic)" />
      <arg name="base_frame"  value="base_footprint"/>
      <arg name="odom_frame"  value="base_footprint" />
  </include> -->

</launch>
