<launch>
  
  <include file="$(find moony_base)/launch/start_moony.launch" />
  
  <!-- SENSORS -->
  <include file="$(find moony_bringup)/launch/start_lidar.launch" >
    <arg name="serial_port" value="/dev/ttyUSB1"/>
    <arg name="frame_id" value="lidar_link"/>
    <arg name="inverted" value="true"/>
    <arg name="scan_topic" value="$(arg scan_topic)"/>
  </include>

</launch>

