<launch>
<!--  <include file="$(find moony_2dnav_simulation)/launch/includes/gmapping/gmapping.launch.xml"/> -->
   <!-- Load the urdf into the parameter server. -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find moony_description)/robot/robot_skid.urdf.xacro'" />
    <arg name="x" value="0.0" />
    <arg name="y" value="0.0" />
    <arg name="z" value=".5" />
    <arg name="robot_name" value="moony" />
    
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
      <remap from="robot_description" to="robot_description" />
      <remap from="joint_states" to="different_joint_states" />
   </node>


  <include file="$(find moony_mapping)/launch/gmapping.launch.xml"/>

  <include file="$(find rplidar_ros)/launch/rplidar_s1.launch" >
     <arg name="serial_port" default="/dev/ttyUSB0"/>
     <arg name="frame_id" default="/dev/ttyUSB0"/>

  </include>

  <include file="$(find wit-imu-driver)/launch/WT901C.launch" >
     <arg name="port" default="ttyUSB1"/>
    <!-- TODO: edit the frame that the imu is attached to -->
  </include>

  <include file="$(find moony_odometry)/launch/moony_localization.launch" />
  <!-- TODO: add beacon -->
</launch>
