<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find moony_gazebo)/launch/spawn_xacro.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value=".5" />
        <!-- <arg name="xacro_robot_file" value="$(find moony_description)/robot/robot_gazebo.urdf.xacro" /> -->
        <arg name="robot_name" value="moony" />
    </include>
</launch>